.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    .NavDiv {
        font-size: 30px;
        color: blue;

        &:hover {
            cursor: pointer;
        }
    }
}