.Cartitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background: yellow;
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;

    .Cartinfo {
        background: red;
        margin: 10px;
        font-size: 25px;
        padding: 5px;
    }

    .Cartinfo.itemname {
        width: 100px;
        
    }

    .Cartinfo.itemprice {
       // probabaly don't need this
    }

    .Cartinfo.itemquantity {     
        padding: 0px;
        margin: 0px;      
    }
    .Cartitem_button {
        font-size: 20px;
    }
}

.usercartwrap {
    
    border: 2px solid black;
    border-bottom-width: 1px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 40px 5px black;
}

.buttons {
    margin-top: 50px;
}