.checkout {
    width: 100%;
    display: flex;
    
    margin-top: 70px;
    
    .Cartarea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        border: 2px solid grey;
        box-shadow: 0px 0px 20px 5px grey;    
    }

    .Cartinfo.top {
        border-bottom: 2px solid black;
        
    }

    .Cartinfo.bottom {
        border-top: 2px solid black;
        
    }
    
    .formsection {
        display: flex;
        border-radius: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 400px;
        margin-left: -200px;
        border: 2px solid red;
        box-shadow: 0px 0px 30px 1px red;
        margin-left: 20%;
        
        .forminfo {
            div {
                margin: 20px auto;
                text-align: left;
            }
            input {
                width: 100%;
                padding: 2px;
                margin: 2px auto;
            }
    
            button {
                text-align: center;
            }
        }
        
    }
}




